:root{
    --font-invert: #000000;
}

[data-theme="dark"]{
    --font-invert: #FFFFFF;
}
.colors{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.colors > div{
	display:flex;
	color:var(--font-invert);
    margin: 30px;
    padding: 30px;
	box-shadow: 0 4px 8px 0 var(--secondary-color);
    width: 10%;
    flex: 1 1 25%;
	border-radius: 10px;
}
.background{
	background-color:var(--bg-color);
}
.heading{
	background-color:var(--heading-color);
}
.font{
	background-color:var(--font-color);
}
.primary{
	background-color:var(--primary-color);
}
.secondary{
	background-color:var(--secondary-color);
}
.navigation{
	background-color:var(--nav-color);
}
