:root{
    --font-invert: #000000;
}

[data-theme="dark"]{
    --font-invert: #FFFFFF;
}

.colors > div{
	display:flex;
	color:var(--font-invert);
}
.background{
	background-color:var(--bg-color);
	color:var(--font-invert);
}
.heading{
	background-color:var(--heading-color);
	color:var(--font-invert);
}
.font{
	background-color:var(--font-color);
	color:var(--font-invert);
}
.primary{
	background-color:var(--primary-color);
	color:var(--font-invert);
}
.secondary{
	background-color:var(--secondary-color);
	color:var(--font-invert);
}
.navigation{
	background-color:var(--nav-color);
	color:var(--font-invert);
}
@media only screen and (max-width: 1000px){
.colors > div  {
    width: 80%;
}