#slider {
	overflow: hidden;
	padding-top:15px
}

#slider figure{
	position:relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
	
	/* no of image * 100% */
}

#slider figure img{
	float:left;
	width:20%;
	/* Width = 100%/no. of images */
}



@keyframes slider {
	0% {
		left:0;
	}
	20% {
		left:0;
	}
	25% {
		left:-100%;
	}
	45% {
		left:-100%;
	}
	50% {
		left:-200%;
	}
	70% {
		left:-200%;
	}
	75% {
		left:-300%;
	}
	100% {
		left:-300%;
	}
}

/* Home Sections is in all the different style.css */

@media only screen and (min-width: 1000px){
	.news-part{
	width:35%;
	}	
}

/* Tracking Number*/
.track{
	display:flex; 
	flex-wrap: wrap;
}

.track-title{
	padding-left:10px;
}

.trackno{
	flex:1 1 100%;
	margin:10px 0px 0px 0px;
	text-align:center;
}

/* News */
.news{
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
}

.news-part{
	padding:10px 10px;

}

.news-part-title{
	font-size:1.7em;
	font-weight:bolder;
}

.news-part img{
	width:35%;
}
