
/* Large devices (laptops/desktops, 914px and up) */
@media only screen and (min-width: 914px) {
	#menuToggle span,input{
	display: none;
	}
	
	.menu{
	display: flex;
	padding-top: 15px;
	list-style: none;
	}
	
	.menu li{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	}
	
	.navButton{
	display:flex;
	text-decoration: none;
	color: #F5F6FA;
	font-family: 'work sans', sans serif;
	font-size: 1.5em;
	font-weight: 400;
	transition: 200ms;
	text-align: center;
	justify-content: center;
	}
	
	.navButton:hover {
	opacity:0.6;
	}

}

/* Small to Medium devices (landscape tablets, 913px and down) */
@media only screen and (max-width: 914px) {
	.menu{
	position: absolute;
	margin: -161px 0px 0px -50px;
	padding: 50px;
	padding-top: 236px;
	background-color: #F5F6FA;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	width:100%;
	}	
	
	.menu li{
	padding: 10px 0;
	transition-delay: 2s;
	}
	
	.navButton {
	text-decoration: none;
	color: #1E1E23;
	opacity:1;
	font-family: 'work sans', sans serif;
	font-size: 1.5em;
	font-weight: 400;
	transition: 200ms;
	}

	.navButton:hover {
	opacity:0.2;
	}

	ul {
	padding: 0;
	list-style-type: none;
	}

	#menuToggle {
	flex-direction: column;
	position: relative;
	top: 25px;
	left: 25px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	display:flex;
	}
	

	#menuToggle input{
	display:flex;
	width: 40px;
	height: 32px;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	}

	#menuToggle span{
	display: flex;
	width: 29px;
	height: 2px;
	margin-bottom: 5px;
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 5px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
							background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
							opacity 0.55s ease;
	}

	#menuToggle span:first-child{
	transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2){
	transform-origin: 0% 100%;
	}

	#menuToggle input:checked ~ span{
	opacity: 1;
	transform: rotate(45deg) translate(-3px, -1px);
	background: #36383F;
	}
	#menuToggle input:checked ~ span:nth-last-child(3){
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle input:checked ~ span:nth-last-child(2){
	transform: rotate(-45deg) translate(0, -1px);
	}

	#menuToggle input:checked ~ ul{
	transform: none;
	}
	
	#background{
	background-image:url("./images/sun.jpeg");
	}
}

html, body {
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
}

#logo{
	margin-left:auto; 
	margin-right:auto;
	display:block;
	width:255px;
	height:77px;
	padding-top:30px;
	padding-bottom:30px;
}

nav {
	background-color: #1E1E23;
	height: 65px;
	width:100%;
}

#content{
	font-family: 'work sans', sans serif;
	font-size: 1.5em;
	font-weight: 400;
	color:var(--font-color);
}

#box {
	margin-left:auto;
	margin-right:auto;
	background-color:#E7E9EA;
	-webkit-box-shadow:5px 5px 5px #1e1e1e, -5px 5px 5px #1e1e1e;
	width:80%;
	height:100%
}